@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import './variable.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Exo 2', sans-serif;
  background-color: $lightGray;
  height: 100dvh;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Lilita One', sans-serif;
}

h1{
font-size: 50px;
}
